[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python
WorkingDirectory=/home/pi/mytransponder/myscript.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target